altgraph==0.17
asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cryptography==3.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1
django-heroku==0.3.1
docutils==0.16
Flask==1.1.2
future==0.18.2
geojson==2.5.0
gTTS==2.1.1
gTTS-token==1.1.3
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
Kivy==1.11.1
Kivy-Garden==0.1.4
kivy3==0.0.1.dev0
kivymd==0.104.1
lxml==4.5.2
MarkupSafe==1.1.1
moviepy==1.0.3
netflix-roulette==0.23
numpy==1.19.1
pefile==2019.4.18
Pillow==7.2.0
playsound==1.2.2
proglog==0.1.9
psycopg2==2.8.5
pyaes==1.6.1
pybase64==1.0.1
pycparser==2.20
pygame==1.9.6
Pygments==2.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pyowm==3.0.0
pypiwin32==223
Pyrogram==0.18.0
PySocks==1.7.1
python-telegram==0.12.0
python-telegram-bot==12.8
pytube==9.6.0
pytube3==9.6.4
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
telegram==0.0.1
TgCrypto==1.2.1
tornado==6.0.4
tqdm==4.48.2
typing-extensions==3.7.4.2
urllib3==1.25.10
Werkzeug==1.0.1
whitenoise==5.2.0

